@import url('https://fonts.cdnfonts.com/css/torus');

:root {
    --blue: #3777BC;
    --blue-dark: #173963;
    --cyan: #5fc8d7;
    --green: #36BBA5;
    --red: #F15B4E;
    --yellow: #FDB933;
    --font-default: 'Torus', sans-serif;
}

.mainPage {
    display: flex;
    justify-content: center;
}

.btn-back {
    width: 100%;
    color: #888;
    font-size: 1.1rem;
}

.btn-back:hover {
    background: #cecece;
}

.image-newspaper {
    height: 50%;
    width: 100%;
    object-fit: cover;
    border-radius: 12px;
}

.article {
    text-align: center;
}

.bodyNew {
    text-align: justify;
    font-size: 1.3rem;
    color: #000000;
    font-family: var(--font-default) !important;
    text-indent: 30px;
}

.date {
    color: #4d4c4c;
    font-size: 1.3rem;
}

.title {
    word-spacing: 4px;
    font-family: var(--font-default) !important;
    font-weight: 800;
}

.badge {
    font-size: 2rem;
    transition: .33s;
    cursor: pointer;
}

.badge:hover {
    padding: .7rem 2rem;
}