@import url('https://fonts.cdnfonts.com/css/torus');

/* -- | -- Colors Site - Root -- | --  */

:root {
    --blue: #3777BC;
    --blue-dark: #173963;
    --cyan: #5fc8d7;
    --green: #36BBA5;
    --red: #F15B4E;
    --yellow: #FDB933;
    --font-default: 'Torus', sans-serif;
}

body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background: var(--blue-dark); */
}

* {
    font-family: Arial, Helvetica, sans-serif !important;
}

/* -- | -- Header Features -- | --  */

.header-page { /* Header Main */
    background: var(--blue-dark) !important;
    padding: .5rem 2rem;
}

.link-como-usar:hover {
    color: #cecece !important;
}

.link-header-nav:hover {
    color: #5e5e5e !important;
}

/* -- | -- Main News Features -- | --  */

.timeRead {
    font-size: 1rem;
    color: #88888898;
}

.turma-author {
    color: #88888898;
}

.title-new-card-one {
    font-size: 1.4rem;
    font-weight: 500;    
}

/* -- | -- Weather - Layout -- | --  */

.weather-container-search {
    padding: .5rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid rgba(56, 54, 54, 0.425);
    border-radius: 24px;
    background: rgba(136, 136, 136, 0.212);
    transition: .33s;
}

.weather-container-search > input {
    border: none;
    background: transparent;
    outline: none;
}

.weather-container-search > i {
    cursor: pointer;
    transition: .33s;
}

.response-api-weather {
    width: 100%;
    height: 50%;
    padding: .5rem 1rem;
    text-align: center;
}

.response-weather-city {
    color: #464545;
}

.response-weather-time {
    font-size: 1.2rem;
    color: #979797;
}

.response-weather-temp {
    font-weight: 900;
}

.response-weather-description {
    font-size: 1.4rem;
}

.response-weather-icon {
    animation: transform-icon-weather-response 3s ease-in-out infinite;
}

@keyframes transform-icon-weather-response {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

.hidden {
    display: none;
}

/* -- | -- Footer Page Features -- | --  */

.footer-page-main {
    padding: 1rem 2rem;
    background: var(--blue-dark);
}

.footer-page-main > * {
    color: #fefefe !important;
}

/* -- | -- Signos Style -- | --  */

.card-horoscopo-align {
    text-align: center;
}

#signs-select {
    font-family: Arial, sans-serif;
    font-size: 16px;
    padding: .3rem 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 200px;
    outline: rgba(136, 136, 136, 0.39) 1px solid;
    cursor: pointer;
}

#signs-select option {
    font-size: 14px;
    background-color: #fff;
    padding: .3rem 1rem;
    color: #333;
    cursor: pointer;
}
  
#signs-select option:checked {
    background-color: #e6e6e6;
    color: rgb(75, 75, 75);
    font-size: 1.1rem;
}
  

.sign-container {
    display: flex;
    gap: .5rem;
}

.container-response-description {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
}

.sign-description-response {
    font-size: 1rem;
    color: #888;
    display: flex;
    align-items: center;
    gap: .3rem;
}

.sign-day-title {
    font-size: 1.4rem;
    color: #808080;
}

#signDay {
    color: #282829;
    font-weight: 900;
}

.sign-day-description {
    font-size: 1.2rem;
    color: #444444;
    text-align: center;
}

.card-new-one-marista {
    text-align: center;
    border: 1px solid  #0000003b;
}

.title-container-card-marista {
    font-size: 1.4rem;
}

.container-video-file {
    height: 100%;
}